<div class = "First-image-with-text-main-container">
    <div class=""></div>
</div>



{% schema %}
{
  "name": "The Gift Guide",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_main_image_upper",
      "label": "Desktop Upper Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_main_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_main_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading",
      "default": "Discover Joy: Your ultimate holiday gift Destination"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Sustainable Ethecally Made Sizes from XXS to 6XL"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color",
      "default": "#fff"
    }
  ],
  "presets": [{ "name": "The Gift Guide" }]
}
{% endschema %}